/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.center_div {
    margin: 0 auto;
    width: 50% /* value of your choice which suits your alignment */
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

    .login-form-1 h3 {
        text-align: center;
        color: #333;
    }

.login-form-2 {
    padding: 5%;
    background: #0c443fa8;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

    .login-form-2 h3 {
        text-align: center;
        color: #fff;
    }

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.createTemplateInputContainter input{
    margin-bottom: 6px;
}

.my-input-class {
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.my-confirm-class {
    padding: 3px 6px;
    font-size: 12px;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #337ab7;
    text-decoration: none;
}

.my-cancel-class {
    padding: 3px 6px;
    font-size: 12px;
    color: white;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #a94442;
    text-decoration: none;
}

.error {
    border: solid 1px;
    border-color: #a94442;
}

.destroy-button {
    padding: 5px 10px 5px 10px;
    border: 1px blue solid;
    background-color: lightgray;
}